<div class="profile-container content" *ngIf="user && profileForm">
  <div class="profile-header">
    <div class="profile-picture-container">
      <img
        [src]="profilePictureUrl || '../../../assets/user-profile-picture.jpg'"
        alt="Profile Picture"
        class="profile-picture"
        (click)="triggerFileInput()"
        (error)="onImageError($event)"
      />
      <input
        type="file"
        id="file-input"
        (change)="onFileChange($event)"
        hidden
      />
    </div>

    <div>
      <h1 class="user-name">{{ user.name }} {{ user.surname }}</h1>
      <p class="user-title">{{ user.jobTitle }}</p>
      <p class="user-education">{{ user.university }}</p>
    </div>
  </div>

  <div class="contact-info">
    <h2>Πληροφορίες επαγγελματία</h2>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Τηλέφωνο:</strong> {{ user.phone }}</p>
  </div>

  <div class="actions">
    <button (click)="openExperienceModal()">
      Προσθήκη εργασιακής εμπειρίας
    </button>
    <button (click)="openEducationModal()">Προσθήκη πτυχίων</button>
  </div>

  <div class="experience-section" *ngIf="experience.length > 0">
    <h2>Εργασιακή Εμπειρία</h2>
    <div *ngFor="let exp of experience.controls" class="experience-item">
      <p><strong>Τίτλος:</strong> {{ exp.value.title }}</p>
      <p><strong>Περιγραφή:</strong> {{ exp.value.freeTxt }}</p>
      <p><strong>Δημόσιο:</strong> {{ exp.value.isPublic ? 'Ναι' : 'Όχι' }}</p>
      <p>
        <strong>Διάρκεια:</strong>
        {{ exp.value.startedAt }} -
        {{ exp.value.endedAt ? exp.value.endedAt : 'Σήμερα' }}
      </p>
    </div>
  </div>

  <div class="education-section" *ngIf="education.length > 0">
    <h2>Εκπαίδευση</h2>
    <div *ngFor="let edu of education.controls" class="education-item">
      <p><strong>Όνομα:</strong> {{ edu.value.name }}</p>
      <p><strong>Περιγραφή:</strong> {{ edu.value.description }}</p>
      <p><strong>Δημόσιο:</strong> {{ edu.value.isPublic ? 'Ναι' : 'Όχι' }}</p>
      <!-- αν αυτοματοποιηθούν-->
      <!-- <p><strong>Τύπος Εκπαίδευσης:</strong> {{ getEducationTypeName(edu.value.educationTypeId) }}</p> -->
    </div>
  </div>
</div>

<!-- Experience Modal -->
<div *ngIf="showExperienceModal" class="modal">
  <h2>Προσθήκη Εργασιακής Εμπειρίας</h2>
  <form [formGroup]="experienceForm" (ngSubmit)="onSubmitExperience()">
    <label>Τίτλος</label>
    <input formControlName="title" placeholder="Τίτλος" />

    <label>Περιγραφή</label>
    <textarea formControlName="freeTxt" placeholder="Περιγραφή"></textarea>

    <label>Δημόσιο</label>
    <select formControlName="isPublic">
      <option [value]="true">Ναι</option>
      <option [value]="false">Όχι</option>
    </select>

    <label>Ημερομηνία Έναρξης</label>
    <input type="date" formControlName="startedAt" />

    <label>Ημερομηνία Λήξης</label>
    <input type="date" formControlName="endedAt" />

    <button type="submit">Αποθήκευση</button>
    <button type="button" (click)="closeModal()">Ακύρωση</button>
  </form>
</div>

<!-- Education Modal -->
<div *ngIf="showEducationModal" class="modal">
  <h2>Προσθήκη Πτυχίων</h2>
  <form [formGroup]="educationForm" (ngSubmit)="onSubmitEducation()">
    <label>Όνομα</label>
    <input formControlName="name" placeholder="Όνομα" />

    <label>Περιγραφή</label>
    <input formControlName="description" placeholder="Περιγραφή" />

    <label>Δημόσιο</label>
    <select formControlName="isPublic">
      <option [value]="true">Ναι</option>
      <option [value]="false">Όχι</option>
    </select>

    <!-- Αν αυτοματοποιηθούν-->
    <!-- <label>Τύπος Εκπαίδευσης</label>
    <input type="number" formControlName="educationTypeId" placeholder="Τύπος Εκπαίδευσης" /> -->

    <button type="submit">Αποθήκευση</button>
    <button type="button" (click)="closeModal()">Ακύρωση</button>
  </form>
</div>
