<div class="login-container">
    
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <div class="login-header-content">
        <h1 class="heading"> Sign in</h1>
        <p class="sub-heading">Stay tuned on your professional hub! </p>
    </div>
      <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Sign in</button>
  </form>
</div>
