/* src/app/navigation-bar/navigation-bar.component.css */
nav {
  background-color: hsl(282, 100%, 35%);
  color: white;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
