.page-container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    width: 100vw; 
  }
  
  app-sidebar {
    width: 250px;
    height: 100%;
    background-color: #fdfdf2; 
  }
  
  .main-content {
    display: flex;
    flex: 1;
    padding: 20px;
    overflow: hidden; 
  }
  
  .jobs-section {
    display: flex;
    flex-direction: row; 
    flex: 1;
    gap: 20px;
    height: 100%;
  }
  
  .job-listings-column {
    flex: 1; 
    max-width: 40%; 
    min-width: 30%;
    overflow-y: auto; 
    border-right: 1px solid #ccc;
    padding-right: 20px;
    padding-left: 10%;
  }
  
  .advertisement-details-column {
    flex: 1;
    max-width: 50%;
    padding-left: 20px;
    overflow-y: auto;
  }
  
  .job-listing {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .job-listing:hover {
    background-color: #f0f0f0;
  }
  
  .job-listing h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  
  .advertisement-details-column h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .advertisement-details-column p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .section-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  .apply-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .apply-button:hover {
    background-color: #218838;
  }
  
  .popup-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #d4edda;
    color: #155724;
    border-radius: 5px;
    text-align: center;
  }
  