.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 20px;
  width: 100%;
  background-color: #f4f4f4;
}

.login-form {
  display: grid;
  gap: 20px;
  width: 80%;
  max-width: 450px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-header-content {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 10px;
}

.register-prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.register-prompt span {
  font-size: 14px;
  color: #555;
}

.register-prompt button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #0073b1;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.register-prompt button:hover {
  background-color: #005f91;
}
