<div class="home-container content">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    
    <form (ngSubmit)="onPostSubmit()" #postForm="ngForm">
      <textarea
        [(ngModel)]="newPostContent"
        name="newPostContent"
        placeholder="Γράψτε κάτι..."
        required
      ></textarea>
      <input type="file" (change)="onFileChange($event)" multiple />
      <button type="submit" class="primary-button" [disabled]="!postForm.valid">
        Δημοσίευση
      </button>
    </form>

    <div class="timeline">
      <h2>Χρονολόγιο</h2>
      <div *ngFor="let post of posts" class="post">
        
        <div class="post-header">
          <div class="sender-info">
            <img *ngIf="getProfilePictureUrlById(post.creatorId)" [src]="getProfilePictureUrlById(post.creatorId)" alt="Profile Picture" class="profile-picture" />
            <h3>{{ post.creatorName }}</h3>
          </div>
          <p class="timestamp">{{ post.createdAt | date: 'short' }}</p>
        </div>

        <p>{{ post.freeTxt }}</p>
    
        <div class="post-actions">
          <img src="../../../assets/icons/thumbs-up-solid.svg" alt="Like" (click)="onLike(post.id)" class="icon-button like-icon" />
        </div>

        <div class="comments-section">
          <div *ngFor="let comment of post.comments | slice:0:commentsToShow[post.id]" class="comment">
            <div class="comment-body">
              <img *ngIf="getProfilePictureUrlById(comment.creatorId)" 
                   [src]="getProfilePictureUrlById(comment.creatorId)" 
                   alt="Profile Picture" 
                   class="comment-profile-picture" />
              <p>{{ comment.freeTxt }}</p>
            </div>

            <div class="comment-actions">
              <img src="../../../assets/icons/thumbs-up-solid.svg" alt="Like" class="small-like-icon" />
            </div>
          </div>
        
          <button *ngIf="commentsToShow[post.id] < post.comments.length" (click)="loadMoreComments(post.id)" class="secondary-button">Load More Comments</button>
        </div>
        
        <div class="comment-box">
          <form (submit)="onCommentSubmit(post.id)">
            <input [(ngModel)]="newComments[post.id]" name="newComment-{{post.id}}" placeholder="Γράψτε ένα σχόλιο..." />
            <img src="../../../assets/icons/paper-plane-solid.svg" alt="Send" class="icon-button send-icon" (click)="onCommentSubmit(post.id)" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
