.content {
  padding-top: 70px; 
}

.network-container {
  display: flex;
  width: 100%; 
  height: 100vh;
  box-sizing: border-box;
  position: relative; 
  background-color: #f0f2f5;
}

.users-list {
  width: 250px;
  background-color: #ffffff; 
  padding: 20px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1); 
  overflow-y: auto;
  position: fixed; 
  left: 0; 
  top: 70px; 
  bottom: 0;
  border-right: none;
}

.users-list h2 {
  margin-bottom: 20px;
  font-size: 1.6rem; 
  color: #0073b1; 
  font-weight: 600; 
  text-align: center;
}

.users-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); 
}

.users-list li:hover {
  background-color: #f1f1f1; 
}

.users-list img.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%; 
  margin-bottom: 10px; 
  border: 2px solid #0073b1;
  object-fit: cover;
}

.users-list p {
  margin: 0;
  font-size: 1rem;
  color: #333;
  text-align: center; 
  font-weight: 500;
}

.profile-viewer {
  padding-left: 0px;
  flex-grow: 1;
  padding-top: 20px;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile-details {
  text-align: center;
}

.profile-pic-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #0073b1;
}

.primary-button, .secondary-button {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
}

.primary-button {
  background-color: #0073b1;
  color: white;
  border: none;
}

.primary-button:hover {
  background-color: #005f91;
}

.secondary-button {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
}

.secondary-button:hover {
  background-color: #e1e1e1;
}
