.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fdfdf2;
}

.logo {
  width: 180px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.logo:hover {
  transform: scale(1.15); 
}

.main-nav {
  width: 100%;
  background-color: #fdfdf2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; 
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
}

.main-nav ul li {
  margin: 0 15px; 
}

.main-nav ul li a {
  text-decoration: none;
  color: hsl(282, 100%, 35%);
  font-weight: 500;
  padding: 10px;
  display: block;
}

.main-nav ul li a:hover,
.main-nav ul li a:focus {
  text-decoration: none;
  color: hwb(286 6% 16%); 
  background-color: #fdfdf2;
}

@media (max-width: 768px) {
  .main-nav ul {
    flex-direction: column;
  }

  .main-nav ul li {
    width: 100%; 
    text-align: center; 
  }
}
