<!-- src/app/sidebar/sidebar.component.html -->
<div class="sidebar content">
  <div class="profile-section" *ngIf="profilePictureUrl">
    <img [src]="profilePictureUrl || '../../../assets/user-profile-picture.jpg'" alt="Profile Picture" loading="lazy" class="profile-picture" 
    (error)="onImageError($event)"/>
    <p class="user-name">{{ userName }}</p>
  </div>
  <ul>
    <li><a routerLink="/profile">Προσωπικά Στοιχεία</a></li>
    <li><a routerLink="/network">Δίκτυο</a></li>
  </ul>
</div>
