<div class="welcome-container">
  <div class="login-section">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>
    <h1>Καλώς ήρθατε στο LinkedHub!</h1>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
        required
      />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <button type="submit">Login</button>
    </form>

    <button routerLink="/register" class="register-button">Register</button>
    <p>
      Συνδεθείτε, αναπτυχθείτε και ανακαλύψτε νέες επαγγελματικές ευκαιρίες μέσω μας
      πλατφόρμα.
    </p>
    <footer>© 2024 Professional Networking App. Με την επιφύλαξη παντός δικαιώματος.</footer>
  </div>
  <div class="welcome-image">
    <img src="assets/dxf91zhqd2z6b0bwg85ktm5s4.svg" alt="Welcome Image" />
  </div>
</div>
