<div class="settings-container content">
  <app-sidebar></app-sidebar>
  <h1>Ρυθμίσεις</h1>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <label for="notification">Ειδοποιήσεις</label>
    <input id="notification" formControlName="notification" type="checkbox" />
    <button type="submit" class="primary-button">Save</button>
  </form>

  <form [formGroup]="emailPasswordForm" (ngSubmit)="onChangeEmailPassword()">
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" />
    
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" />
    
    <button type="submit" class="primary-button">Change Email/Password</button>
  </form>

  <button (click)="onSignOut()" class="signout-button">Sign Out</button>
</div>
