/* src/app/home/home.component.css */
.home-container {
    padding: 20px;
  }
  
  .article {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .actions button {
    margin-right: 10px;
  }
  