<div class="user-list-container content">
  <h1>User List</h1>
  <form (submit)="exportSelectedUsers()">
    <ul>
      <li *ngFor="let user of users">
        <input type="checkbox" [(ngModel)]="user.selected" />
        
        {{ user.name }} {{ user.surname }} : {{ user.email }}
        <button type="button" [routerLink]="['/admin/users', user.id]">View Profile</button>
      </li>
    </ul>
    <button type="submit">Export to JSON</button>
    <button type="button" (click)="exportSelectedUsers('xml')">Export to XML</button>
  </form>
</div>
