html {
  overflow-y: scroll; 
  background-color: #fdfdf2;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  box-sizing: border-box;
  background-color: #fdfdf2;
}
